<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"np-front-main","style":{"spacing":{"padding":{"top":"var(--wp--custom--header--height)"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull np-front-main" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--custom--header--height)">
	<!-- wp:pattern {"slug":"nikolay-portfolio/hero"} /-->

	<!-- wp:pattern {"slug":"nikolay-portfolio/about"} /-->

	<!-- wp:pattern {"slug":"nikolay-portfolio/projects"} /-->

	<!-- wp:pattern {"slug":"nikolay-portfolio/stack"} /-->

	<!-- wp:pattern {"slug":"nikolay-portfolio/testimonials"} /-->

	<!-- wp:group {"tagName":"section","anchor":"contact","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull" id="contact"></section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
