<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"nikolay-portfolio/hero"} /-->

	<!-- wp:group {"tagName":"section","anchor":"about","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull" id="about"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","anchor":"work","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull" id="work"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","anchor":"stack","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull" id="stack"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","anchor":"contact","align":"full","layout":{"type":"constrained"}} -->
	<section class="wp-block-group alignfull" id="contact"></section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
