<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"np-single-project","backgroundColor":"surface","style":{"border":{"radius":"0px"},"spacing":{"padding":{"top":"var(--wp--custom--header--height)","bottom":"var:preset|spacing|96","left":"var:preset|spacing|32","right":"var:preset|spacing|32"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull np-single-project has-surface-background-color has-background" style="border-radius:0px;margin-top:0;margin-bottom:0;padding-top:var(--wp--custom--header--height);padding-right:var(--wp--preset--spacing--32);padding-bottom:var(--wp--preset--spacing--96);padding-left:var(--wp--preset--spacing--32)">
	<!-- wp:group {"tagName":"article","className":"np-single-project__article","style":{"border":{"radius":"0px"},"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|64","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1152px"}} -->
	<article class="wp-block-group np-single-project__article" style="border-radius:0px;margin-top:var(--wp--preset--spacing--64);margin-bottom:0">
		<!-- wp:pattern {"slug":"nikolay-portfolio/single-project-hero"} /-->

		<!-- wp:post-content {"style":{"spacing":{"margin":{"top":"var:preset|spacing|48","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1152px"}} /-->

		<!-- wp:pattern {"slug":"nikolay-portfolio/single-project-links"} /-->

		<!-- wp:pattern {"slug":"nikolay-portfolio/single-project-nav"} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
